<html>
    <head></head>
    <body>
        <h1>
            Welcome to <%=title%>
        </h1>
        <ul>
            <%for(var i=0; i<list.lenght; i++){%>
                Test
                <li><%=list[i]%></li>
                <%}%>
        </ul>
    </body>
</html>